*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
}

nav img {
    width: 180px;
}

.navlinks {
    flex: 1;
    text-align: right;
}

.navlinks ul li{
    list-style: none;
    display: inline-block;
    margin-inline: 1rem;
    position: relative;
}

.navlinks ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.navlinks ul li::after {
    content: "";
    width: 0%;
    display: block;
    margin: auto;
    height: 3px;
    background-color: #ff0000;
    cursor: pointer;
    transition: 0.6s;
}

.navlinks ul li:hover::after {
    width: 100%;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.text-box h1 span {
    font-size: 5rem;
    margin-top: 2%;
    color: #fff;
}

.text-box h1 span {
    background: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0%;
}

.text-box h1 span:first-child {
    animation: textcolor1 2s linear infinite alternate;
}

.text-box h1 span:last-child {
    animation: textcolor1 2s linear infinite alternate;
}

.text-box p {
    font-size: 14px;
    line-height: 25px;
    margin:10px 0 40px 0;
    animation-delay: 1s;
}


.text-btn {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 12px;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 1s;
   
}

.text-btn.anim {
    animation-delay: 1.5s;
}

.text-btn:hover {
    background: #ff0000;
    border: 1px solid #ff0000;
}

.menu-icon {
    width: 25px;
    background-color: #fff;
    display: none;
}

.timebar {
    font-size: 3rem;
    color: #fff;
    display: none;
}

@media screen and (max-width: 768px) {
    .text-box h1 span {
        font-size: 45px;
    }
    .text-box p {
        font-size: 12px;
    }

    .navlinks ul li {
        display: block;
        margin: 8px 0;
    }

    .navlinks {
        position: absolute;
        top: 0px;
        right: -200px;
        width: 200px;
        height: 100vh;
        background-color: #ff0000;
        text-align: left;
        transition: 1s;
        z-index: 2;
    }

    .navlinks ul {
        padding: 18px;
    }

    .menu-icon {
        display: block;
    }

    .timebar {
        display: block;
        margin: 5px;
    }
}




/* -------------COURSES------------- */

.courses {
    padding-top: 120px;
    width: 85%;
    margin: auto;
    text-align: center;
}

.courses h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.courses p {
    font-size: 14px;
    color: #666;
    font-weight: 300;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.course-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 30%;
    box-sizing: border-box;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px 15px;
    margin: 25px 0;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
    transition: 0.8s;
    cursor: pointer;
}

.course-col h3 {
    font-size: 1rem;
    color: #000;
    font-weight: 700;
}

.course-col p {
    font-size: 14px;
    color: #666;
    padding: 20px;
}

.course-col:hover {
    transform: translateY(-12px);
}

@media screen and (max-width:768px) {
    .row {
        flex-direction: column;
    }

    .course-col h3 {
        font-size: 22px;
        color: #000;
    }
}


/* -----------------CAMPUS------------------- */

.campus {
    width: 85%;
    padding: 100px 0;
    text-align: center;
    margin: auto;
}

.campus h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.campus p {
    font-size: 14px;
    font-weight: 300;
    color: #666;
    padding: 10px;
}


.campus-col {
    flex-basis: 31%;
    position: relative;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    margin-top: 22px;
}

.campus-col img {
    width: 90%;
    display: block;
}

.layer {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   background-color: transparent;
   height: 100%;
   cursor: pointer;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.5);
}

.layer h3 {
    font-size: 30px;
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    opacity: 0;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}


/* -------------FACILITIES------------- */

.facil {
    width: 85%;
    padding-top: 90px;
    text-align: center;
    margin: auto;
}

.facil h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.facil p {
    font-size: 14px;
    font-weight: 300;
    color: #666;
    padding: 10px;
}

.facil-col {
    flex-basis: 31%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.facil-col img {
    width: 90%;
    border-radius: 10px;
}

.facil-col p {
    font-size: 13px;
}


/* ----------------STUDENTS---------------- */
.stds {
    width: 85%;
    padding: 70px 0;
    text-align: center;
    margin: auto;
}

.stds h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.stds p {
    font-size: 14px;
    font-weight: 300;
    color: #666;
    padding: 10px;
}

.stds-col {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-basis: 31%;
    background-color: aliceblue;
    padding: 20px 12px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: 0.7s;
}

.stds-col div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 5px;
}

.stds-col img {
    width: 50px;
    border-radius: 50%;
}

.stds-col div p {
    font-size: 13px;
    text-align: center;
    padding: 5px;
}

.stds-col div h3 {
    font-weight: 300;
    margin: 5px 0;
}

.v-icon {
    font-size: 2rem;
}

.stds-col:hover {
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


/* --------------ENROLL------------- */

.enroll {
    width: 80%;
    margin: 100px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/banner2.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    border-radius: 10px;
}

.enroll-col {
    text-align: center;
    color: #fff; 
}

.enroll-col h1 {
    margin-bottom: 40px;
    line-height: 32px;
   
}

@media screen and (max-width: 768px) {
    .enroll-col h1 {
        font-size: 18px;
    }
}

/* ----------FOOTER -------- */

footer {
    margin-top: 70px auto;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 30px;
}

footer h3 {
    font-size: 25px;
}

footer p {
    font-size: 14px;
    padding: 10px;
    color: #666;
}

.icons {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;
    width: 10%;
}

.icons img {
    width: 18px;
    cursor: pointer;
}

.f-icon {
    font-size: 2rem;
    color: #000;
}



@media screen and (max-width: 768px) {
    footer p {
        font-size: 12px;
    }

    .icons {
        width: 50%;
    }

    .icons img {
        width: 18px;
        cursor: pointer;
        margin-left: 10px;
    }

    .copyright {
        font-size: 18px;
    }
    
}


/* -------------ABOUT PAGE--------------- */
.abt-header {
    min-height: 60vh;
}

.abt {
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 100px 0;
}

.row2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    gap: 5px;
}

.abt-col {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-basis: 47%;
    padding: 30px;
    margin-bottom: 20px;
}

.abt-col img {
    width: 90%;
    display: block;
}

.abt-col h1 {
    font-size: 2em;
    line-height: 60px;
    font-weight: bold;
    text-align: left;
}

.abt-col h1 span {
    background: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0%;
}

.abt-col h1 span:first-child {
    animation: textcolor1 2s linear infinite alternate;
}

@keyframes textcolor1 {
    0% {
        background-size: 0%;
    }

    40% {
        background-size: 100%;
    }

    100% {
        background-size: 100%;
    }
}

.abt-col h1 span:last-child {
    animation: textcolor1 2s linear infinite alternate;
}

@keyframes textcolor1 {
    0% {
        background-size: 0%;
    }

    40% {
        background-size: 100%;
    }

    100% {
        background-size: 100%;
    }
}

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.abt-col p {
    font-size: 13px;
    color: #666;
    font-weight: 300;
    text-align: left;
    animation-delay: 0.7s;
}

.abt-col div {
    margin-bottom: 5%;
}

.abt-btn {
    color: #ff0000;
    padding: 10px 12px;
    background: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 1s;
    border: 1px solid #777;
    text-align: center;
}

.abt-btn:hover {
    background: #ff0000;
    border: 1px solid #ff0000;
    color: #fff;
}

.abt-btn.anim {
    animation-delay: 1s;
}

.abtimg.anim {
    animation-delay: 1.5s;
}



@media screen and (max-width: 768px) {
    .row2 {
        flex-wrap: wrap;
    }

    .abt {
        padding: 50px 0;
    }

    .abt-col {
        flex-basis: 100%;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .abt-col img {
        width: 100%;
    }

    .abt-btn {
        width: 100%;
        margin: auto;
        display: block;
        margin-top: 40px;
    }

}


/* --------------blog page-------------- */


.blog {
    margin: auto;
    width: 85%;
    padding: 80px 0;
    text-align: center;
}

.blog-col-1 {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
}

.blog-col-1 img {
    width: 100%;
}

.blog-col-2 {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 10px;
}

.blogpost {
    width: 72%;
    border: 1px solid #ff0000;
    background-color: #ff0000;
    margin-bottom: 20px;
    padding: 12px 20px;
    text-align: center;
}

.blogpost h4 {
    color: #fff;
    font-weight: 800;
    text-wrap: nowrap;
}

.blog-courses {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-bottom: 15px;
    width: 100%;
}

.blog-courses p {
    width: 100%;
    text-align: left;
}

.blog-courses p span {
    width: 100%;
    text-align: right;
}

.blog-read {
    width: 100%;
    margin-left: 1px;
    padding: 0;
    margin-top: 5%;
}

.blogfoot {
    margin-top: 100px;
}


@media screen and (max-width: 768px) {
    .blog-col-1 {
        flex-basis: 100%;
        width: 100%;
        padding: 0;
    }

    .blog-read p {
        line-height: 22px;
    }

    .blogpost {
        width: 100%;
    }

    .blog-col-2 {
        flex-basis: 100%;
        width: 100%;
        text-align: center;
        margin: 20px 0;
        padding: 0;
    }
}


/* ------------COMMENTS------------- */

.comment {
    width: 50%;
    margin: 0px 0px;
    border: 1px solid #dfdfdf;
    margin-left: 9rem;
}

.blog-col-3 {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.blog-col-3 h4 {
    padding: 5px 0;
    font-size: 22px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}


.form-group input {
    width: 100%;
    height: 40px;
    border: 1px solid #dfdfdf;
    background: #f4f2f2;
    padding: 15px;
    color: #777;
    border-radius: 5px ;
}

.form-group textarea {
    width: 100%;
    border: 1px solid #dfdfdf;
    background: #f4f2f2;
    padding: 15px;
    color: #777;
    border-radius: 5px ;
    margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
    .comment {
        width: 90%;
        margin: auto;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -2rem;
    }
}


/* ------CONTACT PAGE--------- */

.contactpage {
    width: 100%;
    padding: 100px 0;
    text-align: center;
    margin: auto;
}

.contact-col {
    display: flex;
    flex-direction: column;
    width: 86%;
    padding: 20px;
    margin: auto;
}

.contact-col img {
    width: 100%;
    height: 60vh;
}


.con-comment {
    margin: auto;
    width: 85%;
    text-align: center;
    padding: 70px 0;
}


.con-col {
    flex-basis: 45%;
    /* background-color: blue; */
    min-width: 350px;
    height: 60vh;
}

.con-address {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    width: 100%;
    margin-bottom: 40px;
    padding: 10px;
}

.tele {
    text-align: left;
}

.con-describe h4{
    margin-bottom: 5px;
    text-wrap: nowrap;
}
.con-describe p{
    font-size: 14px;
    color: #777;
}

.con-col input {
    background-color: #fff;
}

.con-col textarea {
    background-color: #fff;
}

.con-col button {
    display: flex;
    align-self: self-start;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .contact-col {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        margin: auto;
    }
    
    .contact-col img {
        width: 100%;
        height: auto;
    }
    .con-address {
        padding: 2px;
        gap: 20px;
    }

    .con-describe h4{
        font-size: 15px;
    }

    .con-col button {
        display: block;
    }
}



/* -----------------REGISTRATION---------------- */

.registerform {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 400px;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid ghostwhite;
}

.registerform h4 {
    font-size: 24px;
    color: #fff;
    /* margin-bottom: 10px; */
    padding: 10px;
}

.form-regis {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
}

.form-regis label {
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-regis input {
    background: transparent;
    width: 100%;
    height: 35px;
    padding: 5px;
    color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    outline: none;
}

.reg-btn{
  padding: 12px 30px;
  width: 95%;
  text-align: center;
  background: transparent;
  white-space: nowrap;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  text-align: center;
  transition: 0.7s;
  cursor: pointer;
}

.reg-btn a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
    display: block;
}

.reg-btn:hover {
    background-color: red;
    color: #fff;
    border: 2px solid #ff0000;
}

/* -----------LOG IN PAGE---------- */

.form-regis small {
    color: #fff;
    text-align: center;
    display: flex;
    margin-inline: 3.5rem;
}

.form-regis small a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-left: 7px;
}


@media screen and (max-width: 768px) {
    .registerform {
        width: 90%;
    }
}